body{
    margin: 0;
    font-family: DIN Next W1G;
    font-size: 24px;
    color: #FFF;
    background-color: #AFC1D6;
}

h2{
    font-family: Tungsten;
    font-size: 70px;
    color: #223244;
}

h3{
    font-family: DIN Condensed, 'bold';
    font-size: 36px;
}

a{
    text-decoration: none;
}

nav{
    padding: 25px 0;
    color: #DBD6D2;
    background-color: #383D42;
    position: fixed;
    width: 100%;
}

nav ul{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li a{
    padding: 5px 10px;
    font-family: DIN Condensed, 'light';
    color: #DBD6D2;
    text-decoration: none;
    border: 1px solid #DBD6D2;
    border-radius: 25px;
}

nav ul li a:hover{
    color: #383D42;
    background-color: #DBD6D2;
}

#main{
    width: 1200px;
    padding-top: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.presentation{
    width: 500px;
}

.container{
    width: 300px;
    background-color: #7897BB;
    border-radius: 15px;
    padding: 50px 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input{
    width: 300px;
    height: 30px;
    font-family: Yanone Kaffeesatz;
    font-size: 18px;
    border-radius: 15px;
    padding-left: 15px;
    margin-bottom: 25px;
}

.button_page{
    font-family: DIN Condensed, 'light';
    color: #223244;
    background-color: #7897BB;
    text-decoration: none;
    font-size: 25px;
    border: 2px solid #223244;
    border-radius: 25px;
    padding: 10px;
}

.button_page:hover{
    color: #DBD6D2;
    background-color: #223244;
}

#second{
    width: 1200px;
    padding-top: 200px;
    margin: 0 auto;
    display: none;
    justify-content: space-between;
}

.identification_container{
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-color: #7897BB;
    border-radius: 0px 0px 25px 25px;
    padding: 120px 70px 0px 70px;
    position: relative;
    text-align: center;
}

.form_buttons{
    margin: 0;
    position: absolute;
    top: -25px;
    left: 0px;
    display: flex;
}

.form_buttons a{
    font-family: DIN Condensed, 'bold';
    font-size: 36px;
    padding: 20px 97px;
    border-radius: 25px 25px 0px 0px;
}

.connexion{
    color: #DBD6D2;
    background-color: #7897BB;
}

.inscription{
    color: #7897BB;
    background-color: #223244;
}

.form1{
    display: block;
}
.form2{
    display: none;
}

form{
    display: flex;
    flex-direction: column;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-top: 250px;
    padding: 25px 0;
    font-family: 12px;
    text-align: center;
    color: #DBD6D2;
    background-color: #383D42;
}
