body{
    margin: 0;
    font-family: DIN Next W1G;
    font-size: 24px;
    color: #FFF;
    background-color: #5B413A;
}
h2{
    font-family: Tungsten;
    font-size: 70px;
}
h3{
    font-family: DIN Condensed, 'bold';
    font-size: 36px;
}

nav{
    padding: 25px 0;
    color: #3F4B37;
    background-color: #A5AE9D;
}
nav ul{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
a{
    padding: 5px 10px;
    font-family: DIN Condensed, 'light';
    color: #3F4B37;
    text-decoration: none;
    border: 1px solid #3F4B37;
    border-radius: 25px;
}
a:hover{
    color: #A5AE9D;
    background-color: #3F4B37;
}
main{
    width: 1200px;
    padding-top: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
div{
    width: 500px;
}
.input{
    width: 400px;
    background-color: #A5AE9D;
    border-radius: 15px;
    padding: 50px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer{
    margin: 0 auto;
    margin-top: 250px;
    padding: 25px 0;
    color: #5B413A;
    font-family: 12px;
    background-color: #A5AE9D;
    text-align: center;
}
